Genshi==0.7
Trac==1.0
TracAccountManager==0.4.3
## FIXME: could not find svn URL in dependency_links for this package:
TracWysiwyg==0.12.0.4-r12680
distribute==0.6.28
gunicorn==0.17.2
wsgiref==0.1.2

--extra-index-url http://trac-hacks.org/svn/tracwysiwygplugin/0.12
